@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}
@layer components {
  .btn {
    @apply p-2 border shadow-md rounded-lg hover:scale-105 transition-all duration-300 hover:shadow-lg;
  }
  input {
    @apply outline-none border rounded-md focus-within:shadow-md transition-all duration-300  p-2;
  }
  label {
    @apply text-sm font-medium uppercase ml-2;
  }
  .input {
    @apply flex flex-col gap-3;
  }
}
